[submodule "FreeRTOS/Source"]
	path = FreeRTOS/Source
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "FreeRTOS/Test/CMock/CMock"]
	path = FreeRTOS/Test/CMock/CMock
	url = git@github.com:ThrowTheSwitch/CMock.git
[submodule "FreeRTOS-Plus/Source/FreeRTOS-Plus-TCP"]
	path = FreeRTOS-Plus/Source/FreeRTOS-Plus-TCP
	url = git@github.com:FreeRTOS/FreeRTOS-Plus-TCP
[submodule "FreeRTOS-Plus/Source/AWS/device-shadow"]
	path = FreeRTOS-Plus/Source/AWS/device-shadow
	url = git@github.com:aws/device-shadow-for-aws-iot-embedded-sdk
[submodule "FreeRTOS-Plus/Source/Application-Protocols/coreMQTT"]
	path = FreeRTOS-Plus/Source/Application-Protocols/coreMQTT
	url = git@github.com:FreeRTOS/coreMQTT
[submodule "FreeRTOS-Plus/Source/coreJSON"]
	path = FreeRTOS-Plus/Source/coreJSON
	url = git@github.com:FreeRTOS/coreJSON
[submodule "FreeRTOS-Plus/Test/CMock"]
	path = FreeRTOS-Plus/Test/CMock
	url = git@github.com:ThrowTheSwitch/CMock.git
[submodule "FreeRTOS-Plus/ThirdParty/mbedtls"]
	path = FreeRTOS-Plus/ThirdParty/mbedtls
	url = git@github.com:Mbed-TLS/mbedtls.git
[submodule "FreeRTOS-Plus/Source/Application-Protocols/corePKCS11"]
	path = FreeRTOS-Plus/Source/corePKCS11
	url = git@github.com:FreeRTOS/corePKCS11.git
[submodule "FreeRTOS-Plus/Source/AWS/jobs"]
	path = FreeRTOS-Plus/Source/AWS/jobs
	url = git@github.com:aws/jobs-for-aws-iot-embedded-sdk.git
[submodule "FreeRTOS-Plus/Source/AWS/device-defender"]
	path = FreeRTOS-Plus/Source/AWS/device-defender
	url = git@github.com:aws/device-defender-for-aws-iot-embedded-sdk.git
[submodule "FreeRTOS-Plus/Source/Application-Protocols/coreHTTP"]
	path = FreeRTOS-Plus/Source/Application-Protocols/coreHTTP
	url = git@github.com:FreeRTOS/coreHTTP
[submodule "FreeRTOS-Plus/Source/Utilities/backoff_algorithm"]
	path = FreeRTOS-Plus/Source/Utilities/backoff_algorithm
	url = git@github.com:FreeRTOS/backoffAlgorithm.git
[submodule "FreeRTOS-Plus/ThirdParty/wolfSSL"]
	path = FreeRTOS-Plus/ThirdParty/wolfSSL
	url = git@github.com:wolfSSL/wolfssl.git
[submodule "FreeRTOS-Plus/ThirdParty/libslirp"]
	path = FreeRTOS-Plus/ThirdParty/libslirp
	url = git@gitlab.com:qemu-project/libslirp.git
[submodule "FreeRTOS-Plus/ThirdParty/glib"]
	path = FreeRTOS-Plus/ThirdParty/glib
	url = git@github.com:GNOME/glib.git
[submodule "FreeRTOS-Plus/Source/Application-Protocols/coreMQTT-Agent"]
	path = FreeRTOS-Plus/Source/Application-Protocols/coreMQTT-Agent
	url = git@github.com:FreeRTOS/coreMQTT-Agent.git
[submodule "FreeRTOS-Plus/Source/AWS/ota"]
	path = FreeRTOS-Plus/Source/AWS/ota
	url = git@github.com:aws/ota-for-aws-iot-embedded-sdk.git
[submodule "FreeRTOS-Plus/Source/Application-Protocols/coreSNTP"]
	path = FreeRTOS-Plus/Source/Application-Protocols/coreSNTP
	url = git@github.com:FreeRTOS/coreSNTP.git
[submodule "FreeRTOS/Demo/ThirdParty/Community-Supported-Demos"]
	path = FreeRTOS/Demo/ThirdParty/Community-Supported-Demos
	url = git@github.com:FreeRTOS/FreeRTOS-Community-Supported-Demos
[submodule "FreeRTOS/Demo/ThirdParty/Partner-Supported-Demos"]
	path = FreeRTOS/Demo/ThirdParty/Partner-Supported-Demos
	url = git@github.com:FreeRTOS/FreeRTOS-Partner-Supported-Demos
[submodule "FreeRTOS-Plus/Source/AWS/sigv4"]
	path = FreeRTOS-Plus/Source/AWS/sigv4
	url = git@github.com:aws/SigV4-for-AWS-IoT-embedded-sdk.git
[submodule "FreeRTOS-Plus/Source/FreeRTOS-Cellular-Interface"]
	path = FreeRTOS-Plus/Source/FreeRTOS-Cellular-Interface
	url = git@github.com:FreeRTOS/FreeRTOS-Cellular-Interface.git
[submodule "FreeRTOS-Plus/ThirdParty/tinycbor"]
	path = FreeRTOS-Plus/ThirdParty/tinycbor
	url = git@github.com:intel/tinycbor.git
[submodule "FreeRTOS-Plus/Source/AWS/fleet-provisioning"]
	path = FreeRTOS-Plus/Source/AWS/fleet-provisioning
	url = git@github.com:aws/Fleet-Provisioning-for-AWS-IoT-embedded-sdk.git
[submodule "FreeRTOS-Plus/Source/FreeRTOS-Cellular-Modules/bg96"]
	path = FreeRTOS-Plus/Source/FreeRTOS-Cellular-Modules/bg96
	url = git@github.com:FreeRTOS/Lab-FreeRTOS-Cellular-Interface-Reference-Quectel-BG96.git
[submodule "FreeRTOS-Plus/Source/FreeRTOS-Cellular-Modules/hl7802"]
	path = FreeRTOS-Plus/Source/FreeRTOS-Cellular-Modules/hl7802
	url = git@github.com:FreeRTOS/Lab-FreeRTOS-Cellular-Interface-Reference-Sierra-Wireless-HL7802.git
[submodule "FreeRTOS-Plus/Source/FreeRTOS-Cellular-Modules/sara-r4"]
	path = FreeRTOS-Plus/Source/FreeRTOS-Cellular-Modules/sara-r4
	url = git@github.com:FreeRTOS/Lab-FreeRTOS-Cellular-Interface-Reference-ublox-SARA-R4.git
[submodule "FreeRTOS-Plus/Source/FreeRTOS-Plus-Trace"]
	path = FreeRTOS-Plus/Source/FreeRTOS-Plus-Trace
	url = git@github.com:percepio/TraceRecorderSource.git
